<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<script>

    function test(s){
        alert(s)
    }

</script>

<div class="container">
    <div class="panel-group">
        {% for name in names %}
        <div class="panel panel-default">

            <h4>{{name}}</h4><br>
            <ul>
                {% for section in sections %}
                    {% if section.2 == name %}
                        <li onclick="test({{ section.0 }})">{{section.1}}-{{ section.2 }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>


</body>
</html>
