{% extends "base.html" %}
{% load static from staticfiles %}

{% block imports %}
<script src="{% static 'js/json.js' %}"></script>
{% endblock %}


{% block content %}
{% spaceless %}
<div class="container">
    <div class="pull-right">
        <button type="button" class="btn btn-primary" onclick="logout()">Logout</button>
        <a href="http://localhost:8000/sections/all"><button type="button" class="btn btn-primary pull-right">All sections</button></a>
    </div>
    <div class="panel-group">
        {% for name in names %}
        <div class="panel panel-default">

            <h4>{{name}}</h4><br>
            <ul>
                {% for section in sections %}
                {% if section.2 == name %}
                <li onclick="test({{ section.0 }})">{{section.1}}-{{ section.2 }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endspaceless %}
{% endblock %}


