{% extends "base.html" %}
{% load static from staticfiles %}

{% block imports %}
<script src="{% static 'js/json.js' %}"></script>
{% endblock %}


{% block content %}
{% spaceless %}
<div class="container">
    <div >
        <button type="button" class="btn btn-primary" onclick="logout()">Logout</button>
        <a href="{% url 'section:all_sections' %}">
            <button type="button" class="btn btn-primary pull-right">All sections</button>
        </a>
    </div>
    <div class="panel-group">
        {% for name in names %}
        <div class="panel panel-default">

            <ul class="list-group">
                {% for section in sections %}
                {% if section.1 == name %}
                <li class="list-group-item">{{section.0}} - {{ section.1 }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="panel-footer">{{ name }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endspaceless %}
{% endblock %}


